<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts Book</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header class="w3-blue-grey w3-center">
    <h2>Contacts Book</h2>
</header>

<div class="w3-container">
    <br/>
    <a th:href="@{/add}" class="w3-button w3-blue">Add new</a>
    <br/>
</div>
<div class="w3-container">
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-blue">
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th>Date of birth</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contact : ${contacts}">
                <td><a th:href="@{/edit(id=${contact.id})}"><span th:text="${contact.id}">Id</span></a></td>
                <td><span th:text="${contact.firstName}">First Name</span></td>
                <td><span th:text="${contact.lastName}">Last Name</span></td>
                <td><span th:text="${contact.phone}">Phone</span></td>
                <td><span th:text="${contact.email}">E-mail</span></td>
                <td><span th:text="${contact.dateOfBirth}">Date Of Birth</span></td>
                <td><span th:text="${contact.notes}">Notes</span></td>
                <td>
                    <a th:href="@{/edit(id=${contact.id})}">
                        <img th:src="@{/images/iconfinder_icon-136-document-edit_314724.png}" alt="Edit contact" style="max-height:24px">
                    </a>
                    <a th:href="@{/remove(id=${contact.id})}">
                        <img th:src="@{/images/iconfinder_icon-26-trash-can_314758.png}" alt="Delete contact" style="max-height:24px">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>