<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts Book</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header class="w3-blue-grey w3-center">
    <h2>Contacts Book</h2>
</header>
<div class="w3-container">
    <form action="#" th:action="@{/process_contact}" th:object="${contact}" method="post" id="modifyContactForm" class="w3-container w3-card-4">
        <h2>Add/Modify contact</h2>
        <div>
            <input type="number" id="id" th:field="*{id}" hidden="true"/>
        </div>
        <div>
            <label for="firstName">First name</label>
            <input class="w3-input" type="text" id="firstName" th:field="*{firstName}"/>
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input class="w3-input" type="text" id="lastName" th:field="*{lastName}"/>
        </div>
        <div>
            <label for="phone">Phone number</label>
            <input class="w3-input" type="text" id="phone" th:field="*{phone}"/>
        </div>
        <div>
            <label for="email">E-mail</label>
            <input class="w3-input" type="text" id="email" th:field="*{email}"/>
        </div>
        <div>
            <label for="dateOfBirth">Date of birth</label>
            <input class="w3-input" type="date" id="dateOfBirth" th:field="*{dateOfBirth}"/>
        </div>
        <div>
            <label for="notes">Notes</label>
            <textarea class="w3-input" id="notes" rows = "5" cols = "20" th:field = "*{notes}" form = "modifyContactForm" />
        </div>
        <div>
            <input class="w3-input" type="submit" value="Submit"/>
        </div>
    </form>
</div>
</body>
</html>